body {
    margin: 0;
    padding: 0;
    background-color: black;
  }

h1{
    color: rgba(51, 170, 51, .0) ;
    -webkit-text-stroke: 1px white; 
    font-family: 'Sen', sans-serif;
    font-size: 54px;
}

.main-grid{
    display: grid;
    grid-template-columns: auto ;
    margin: auto;
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: white;
}


/* Top Section of the page code below*/
.header{
   background-image: url("Object.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   padding: 35px;
   padding-bottom: 150px;
}

#true_header img{
    
}
#true_header{

}

/* CSS for the sticky navbar below*/

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    background: #F6C82A;
    z-index: 1;
    margin-left:-35px;
}

.sticky a{
    margin-right: 100px;
}

.sticky img{
    width: 100px;
    margin-left: 15px;
    
}

/* CSS for the sticky navbar above*/


ul li{
    list-style-type: none;
}

#nav-bar{
  float: right;
  display: flex;
}

#nav-bar li{
  padding :10px;
  font-family: 'Sen', sans-serif;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
}

#social-bar{
    display: grid;
    justify-content: end;

}

#social-bar li{
    padding-top: 5px;
}

#social-bar img{
    margin-bottom: 20px;
    transition: 0.3s;
}

#social-bar img:hover{
    border-bottom: 3px solid white;
}

#header-content{
  position: relative;
  bottom: -100px;
  margin-top: -13%;
  margin-left: 35px;
}



#minor_title{
  font-family: 'Sedgwick Ave', cursive;
  font-style: normal;
  font-weight: normal;
  font-size:20px;
  line-height: 80px;
  letter-spacing: 3.3333px;
  text-transform: uppercase;
  margin-bottom: -60px;
}

#major_title{
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 57px;
    line-height: 50px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

/* Top Section of the page code above */

/* Releases section of the page code below */

.releases{
 background-image:url('Mask.png') , url("grey.jpg") ;
 background-position: right , left ;
 background-size: 40%, 60%;
 background-repeat: no-repeat,
 repeat;
 padding-bottom: 30px;
 padding-left:5%;
 margin-top: -10px; /* Fix for white space issue*/
}

.releases h1{
    margin-left: 35px;
    letter-spacing: 14px;
    margin-bottom: -50px;
}



.releases_grid{
    display: grid;
    grid-template-areas: 'image1 image1 image2 image3'
                         'image1 image1 image4 image5'
                         'image6 image6 butto butto';
    padding: 5%;
}

.releases button{
    margin-right: 75px;
    float: right;
    
}


.releases_grid img {
    margin: 5px;
}

#image1{
    grid-area: image1;
}

#image2{
    grid-area: image2;
}

#image3{
    grid-area: image3;
}

#image4{
  grid-area: image4;
}

#image5{
    grid-area: image5;
}

.releases_grid img:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}





/* Releases section of the page code above */

/* Tour Section of the page code below */

.tour {
    color: white;
    padding-bottom: 35px;
    padding-left:5%;
    padding-right: 5%;
}

.tour h1{
    margin-left: 35px;
    letter-spacing: 14px;
}

.tour a{
    float: right;
    margin-right: 25px;
}

.tour_date a{
    color: yellow;
    text-decoration: none;
    font-size: 16px;
}

.tour_date{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   font-family: 'Sen', sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 24px;
   line-height: 28px;
   text-transform: uppercase;
   margin-bottom: 20px;
   margin: 25px;
}

.tour_date h4{
    font-family: 'Sedgwick Ave', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: -15px;
}

.tour_location{
    font-weight: normal;
}


.tour_grid{
    display: grid;
    grid-template-columns: auto auto ;
}



/* Tour Section of the page code above */


/* Video Section of the page code below*/

.videos{
  background-image: url('Mask.png');
  color: white;
  margin-top: -10px;
  padding-bottom: 35px;
  padding-left:5%;
}

.videos h1{
    margin-left: 35px;
    letter-spacing: 14px;
    margin-bottom: -5px;
}





.song_name{
    font-family: 'Sen', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}

.song_artist{
    font-family: 'Sedgwick Ave', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;

}

audio{
 transition: 0.3s;
}

audio::-webkit-media-controls-panel{
    background-color: #F6C82A;
}

audio:hover{
    border: 2px solid white;
    border-radius: 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Video Slide Show below CSS */

.videoslide-container{
    display: grid;
    max-width:1000px;
    margin:auto;
    margin-top: 5px;
}

.slides {
    display: none;
}

.slides img{
    width: 60%;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }



  /* Video Slide Show above CSS */

/* Video Section of the page code above */


/* Store section of the page code below*/

.store{
   background: radial-gradient(
       79.98% 79.98% at 50% 50%,
        #F6C82A 0%, #F2C426 61.58%, 
        #E9BB1F 100%);
    padding-bottom: 35px;
    padding-left:5%;
}

.store h1{
    margin-left: 35px;
    letter-spacing: 14px;
    -webkit-text-stroke: 1px black; 
    margin-bottom: 5px;
}

.store a{
    float: right;
    margin-right: 10%;
}

.store img{
    width: 300px;
    transition: 0.3s;
    
}

.store img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.store_grid{
    display: flex;
    justify-content: space-evenly;

}

.item_caption{
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 25px;
    text-transform: uppercase;
}

.item_price{
    font-family: 'Sedgwick Ave', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
}

/* Store section of the page code above */



/* Photo section of the page code below */

.photos{
 padding-bottom: 35px;
 
}

.photos h1{
    margin-left: 35px;
    padding-left: 5%;
    letter-spacing: 14px;
    margin-bottom: -55px;
}

.photos a{   
    margin-top: 15px;
}

.photo_grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 2px;
    padding: 5%;
}



/*Photo section of the page code above */


/* Subscribe section of the page code below*/

.subscribe{
    background-image: url('Mask.png');
    padding-bottom: 100px;
    margin-top: -10px; /* Fix for white space issue*/
}

.subscribe h1{
    letter-spacing: 14px;
    
}

form{
    margin: auto;
    width: 50%;
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
}

form input{
    font-size: 18px;
    
}

#email{
    width: 35%;
    margin-right: 20px;
    font-size: 24px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 5px solid #F6C82A;
    color: #F6C82A;
    background-color: rgba(51, 170, 51, .0) ;
}

#email::placeholder{
    color: #F6C82A;
}

#country{
    width: 35%;
    font-size: 24px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 5px solid #F6C82A;
    color: #F6C82A;
    background-color: rgba(51, 170, 51, .0) ;
}

.email_options{
    margin-top: 25px;
    color: #F6C82A;
    font-family: monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
}

.submit p{
    color: white;
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}

.submit input{
    padding-right: 55px;
    padding-left: 55px;
    float: none;
    margin-right: 0%;
}



/* Subscribe section of the page code above*/

footer{
   position:fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: #F6C82A;
   background-color: black;
   text-align: center;
}

footer p{
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}

footer a{
    color: #F6C82A;
    margin: 15px;
}



/* Style on the buttons below */
.buttonv1{
    border-radius: 21px;
    font-size: 18px;
    font-family: 'Sen', sans-serif;
    padding: 5px 35px 5px 35px;
    color: #F6C82A;
    background-color: black;
    font-weight: 700;
    transition: 0.3s;
}

.buttonv2{
    border-radius: 21px;
    font-size: 18px;
    font-family: 'Sen', sans-serif;
    padding: 5px 35px 5px 35px;
    color: black;
    background-color: #F6C82A;
    font-weight: 700;
    transition: 0.3s;
    float: right;
    margin-right: 10%;
}

.buttonv1:hover{
    font-size: 20px;
    font-weight: 900;
    color: #F6C82A;
}
 .buttonv2:hover{
    font-size: 20px;
    font-weight: 900;
    color: black;
}

/* Style on the buttons above */
